@font-face {
  font-family: 'icons';
  src:  url('fonts/icons.eot?vxbmw0');
  src:  url('fonts/icons.eot?vxbmw0#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?vxbmw0') format('truetype'),
    url('fonts/icons.woff?vxbmw0') format('woff'),
    url('fonts/icons.svg?vxbmw0#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-edit:before {
  content: "\e912";
}
.icon-phone:before {
  content: "\e905";
}
.icon-exchange:before {
  content: "\e906";
}
.icon-coupon:before {
  content: "\e907";
}
.icon-service:before {
  content: "\e909";
}
.icon-task:before {
  content: "\e90a";
}
.icon-taobi:before {
  content: "\e90c";
}
.icon-taodou:before {
  content: "\e90f";
}
.icon-message:before {
  content: "\e910";
}
.icon-top:before {
  content: "\e904";
}
.icon-loading:before {
  content: "\e900";
}
.icon-offline:before {
  content: "\e914";
}
.icon-failed:before {
  content: "\e915";
}
.icon-success:before {
  content: "\e916";
}
.icon-one:before {
  content: "\e901";
}
.icon-arrow-left:before {
  content: "\e902";
}
.icon-notice:before {
  content: "\e903";
  color: #666;
}
.icon-home:before {
  content: "\e908";
}
.icon-mine:before {
  content: "\e90b";
}
.icon-game:before {
  content: "\e90d";
}
.icon-arrow-right:before {
  content: "\e90e";
}
.icon-arrow-down:before {
  content: "\e911";
}
