/**
 * common style
*/

/*****************工具类****************/
/*浮动*/
.fl{
  float: left;
}
.fr{
  float: right;
}

/*清除浮动*/
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}



